{% trans_default_domain 'AppBundle' %}
{{ form_start(form,{
    'attr':{
        'id': form.vars.id,
        'novalidate':'novalidate'
    }}) }}


    {{ form_widget(form._token) }}

<p>
    {% if form_errors(form) %}

    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="fa fa-exclamation"
              aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ form_errors(form) | striptags }}
    </div>
{% endif %}
</p>

<div class="row">
    <div class="col-md-offset-2 col-md-10 col-sm-12 col-xs-12 form-group pull-right required">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <label class="col-lg-3 control-label text-right">{{ form_label(form.codigo)|striptags }}<sup>*</sup></label>

            <div class="col-lg-9">
                {{ form_widget(form.codigo,{'attr':{'class':'form-control'}}) }}
                {% if form_errors(form.codigo) %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <span class="fa fa-exclamation"
                              aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ form_errors(form.codigo) | striptags }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
        </div>
    </div>

    <div class="col-xs-12 text-right">
        <div class="hr-line-dashed"></div>
        <a class="btn btn-warning" href="{{ path('nm_provincia_index') }}"><i
                    class="fa fa-reply"></i> {{ 'backend.comun.form.to_list'|trans }}</a>

        <button class="btn btn-primary pull-right" type="submit" style="margin-left: 5px;"><i
                    class="fa fa-save"></i> {{ 'backend.comun.table.save'|trans }}</button>

    </div>
</div>
</form>
