{% extends 'base_backend.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block breadcrumb %}
    <div class="col-lg-12">
        <h2>{{ 'backend.user_menu.administrator.saldo.title'|trans({},'FOSUserBundle') }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('homepage_backend') }}"><i
                            class="fa fa-home"></i> {{ 'backend.user_menu.breadcrumb.home'|trans({},'FOSUserBundle') }}
                </a>
            </li>
            <li class="">
                {{ 'backend.user_menu.administrator.saldo.title'|trans({},'FOSUserBundle') }}
            </li>
            <li class="active">
                <strong>{{ 'backend.user_menu.administrator.saldo.list'|trans({},'FOSUserBundle') }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id='table' class="table-responsive">
                                <table class="footable footable-paging footable-paging-center  footable-paging-center  table table-stripped table-hover  toggle-arrow-tiny"
                                       data-paging-size="50" data-paging="true" data-filtering="true"
                                       data-sorting="true">
                                    <thead>
                                    <tr>
                                        <th>{{ 'backend.agencia.table.nombre'|trans }}</th>
                                        <th>{{ 'backend.agencia.table.email'|trans }}</th>
                                        <th>{{ 'backend.agencia.table.enabled'|trans }}</th>
                                        <th>{{ 'backend.agencia.table.agentes'|trans }}</th>
                                        <th>{{ 'backend.agencia.table.saldos'|trans }}</th>
                                        <th class="text-right"
                                            data-sort-ignore="true">{{ 'backend.comun.table.actions'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for agencia in tn_agencias %}
                                        <tr>
                                            <td>{{ agencia.nombre }}</td>
                                            <td>{{ agencia.email }}</td>
                                            <td>{{ agencia.enabled==true?'<i class="fa fa-check-square-o"></i>':'<i class="fa fa-square-o"></i>' }}</td>
                                            <td>{{ agencia.agentes | length }}</td>
                                            <td>
                                                <ul style="list-style-type: square; position: relative; margin-left: 0; padding-left: 0">
                                                    {% for grupo in agencia.gruposPago %}
                                                        {% set saldo = saldo_agencia(agencia, grupo) %}
                                                        <li>{{ grupo.moneda.simbolo ~" - "~ saldo }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="text-right">
                                                <a class="btn btn-success btn-xs" data-toggle="tooltip"
                                                   title="Editar saldos"
                                                   href="{{ path('tn_saldo_agencias_editar_saldo', {'token': agencia.token}) }}"><i
                                                            class="fa fa-dollar"></i> Editar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
