<table cellpadding="3px" width="785px">
    <tr>
        <td width="260px" align="left" style="font-size: 10px"><strong>Rango de fechas:</strong><br>{{ params['fi'] ~" - "~ params['ff'] }}</td>
        <td width="260px" align="left" style="font-size: 10px;"><strong>Distribuidores:</strong><br>{{ params['distribuidores'] }}</td>
        <td width="215px" align="left" style="font-size: 10px"><strong>Estados:</strong><br>{{ params['estados'] }}</td>
    </tr>
</table>
<table>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
{% set totalRemesasTotal = 0 %}
{% set importeRemesasTotal = 0 %}
{% set importeRemesasTotalCUP = 0 %}
{% set importeRemesasTotalUSD = 0 %}
{% set importeRemesasTotalEUR = 0 %}
{% for item, values in remesas %}
{% set totalRemesas = 0 %}
{% set importeRemesas = 0 %}
{% set importeRemesasCUP = 0 %}
{% set importeRemesasUSD = 0 %}
{% set importeRemesasEUR = 0 %}
    <table cellpadding="3px" width="785px">
        <tr>
            <td align="center" width="685px" style="font-size: 10px; border-top: 1px solid black; border-bottom: 1px solid black"><strong>{{ item }}</strong></td>
        </tr>
    </table>
    <table cellpadding="3px" width="785px">
        <tr>
            <td width="80px" align="left" style="font-size: 9px; border-top: 1px solid black; border-bottom: 1px solid black"><strong>Factura</strong></td>
            <td width="160px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black"><strong>Destinatario</strong></td>
            <td width="80px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black"><strong>CI</strong></td>
            <td width="60px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black"><strong>Teléfono</strong></td>
            <td width="185px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black"><strong>Dirección</strong></td>
            <td width="60px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black"><strong>Enviado</strong></td>
            <td width="60px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black"><strong>Estado</strong></td>
        </tr>
    {% for prov, array_remesas in values %}
        <tr>
            <td align="center" width="685px" bgcolor="#efefef" style="font-size: 10px; border-top: 1px solid black; border-bottom: 1px solid black"><strong>{{ prov }}</strong></td>
        </tr>
        {% set importProv = 0 %}
        {% set importProvCUP = 0 %}
        {% set importProvUSD = 0 %}
        {% set importProvEUR = 0 %}
        {% for remesa in array_remesas  %}
            {% set factura = remesa.factura %}
            <tr>
                <td width="80px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black">{{ remesa.factura.noFactura }}</td>
                <td width="160px" align="left"
                    style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black">{{ remesa.destinatario~( remesa.destinatario.alias ? (" ("~ remesa.destinatario.alias) ~")") }}</td>
                <td width="80px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black">{{ remesa.destinatario.ci ? remesa.destinatario.ci : "-" }}</td>
                <td width="60px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black">{{ remesa.destinatario.phone }}</td>
                <td width="185px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black">{{ remesa.destinatario.direccionEntrega() }}</td>
                <td width="60px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black">{{ remesa.importeEntregar | number_format(2) }} {{ remesa.moneda.simbolo }}</td>
                <td width="60px" align="left" style="font-size: 9px;border-top: 1px solid black; border-bottom: 1px solid black">{% if remesa.entregada %}
                        <span class="label label-primary">Entregada</span>
                    {% else %}
                        {% if factura.estado.codigo == '05'%}
                            <span class="label label-warning">Cancelada</span>
                        {% else %}
                            <span class="label label-danger">Pendiente</span>
                        {% endif %}
                    {% endif %}</td>
            </tr>
            {% if remesa.moneda.simbolo == "CUC" %}
                {% set importProv =  importProv + remesa.importeEntregar %}
            {% elseif remesa.moneda.simbolo == "CUP" %}
                {% set importProvCUP =  importProvCUP + remesa.importeEntregar %}
            {% elseif remesa.moneda.simbolo == "EUR" %}
                {% set importProvEUR =  importProvEUR + remesa.importeEntregar %}
            {% else %}
                {% set importProvUSD =  importProvUSD + remesa.importeEntregar %}
            {% endif %}
        {% endfor %}
        <table cellpadding="3px" width="785px" style="border: 1px solid black">
            <tr>
                <td width="230px" align="left" style="font-size: 10px"><strong>{{ prov }}: </strong><strong>{{ array_remesas | length }}</strong> remesa(s)</td>
                <td width="65px" align="left" style="font-size: 10px"><strong>TOTAL:</strong></td>
                <td width="190px" align="center" style="font-size: 10px">{{ importProvCUP | number_format(2) }} CUP</td>
                <td width="100px" align="right" style="font-size: 10px">{{ importProvUSD | number_format(2) }} USD</td>
                <td width="100px" align="right" style="font-size: 10px">{{ importProvEUR | number_format(2) }} EUR</td>
            </tr>
        </table>
        {% set importeRemesas = importeRemesas + importProv %}
        {% set importeRemesasCUP = importeRemesasCUP + importProvCUP %}
        {% set importeRemesasUSD = importeRemesasUSD + importProvUSD %}
        {% set importeRemesasEUR = importeRemesasEUR + importProvEUR %}
        {% set totalRemesas = totalRemesas + (array_remesas | length) %}
    {% endfor %}
    </table>
    <table>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table cellpadding="3px" width="785px" style="border: 1px solid black">
        <tr>
            <td width="230px" align="left" style="font-size: 10px"><strong>RESUMEN: </strong><strong>{{ totalRemesas }}</strong> remesa(s)</td>
            <td width="65px" align="left" style="font-size: 10px"><strong>TOTAL:</strong></td>
            <td width="190px" align="center" style="font-size: 10px">{{ importeRemesasCUP | number_format(2) }} CUP</td>
            <td width="100px" align="right" style="font-size: 10px">{{ importeRemesasUSD | number_format(2) }} USD</td>
            <td width="100px" align="right" style="font-size: 10px">{{ importeRemesasEUR | number_format(2) }} EUR</td>
        </tr>
    </table>
    {% set totalRemesasTotal = totalRemesasTotal + totalRemesas %}
    {% set importeRemesasTotal = importeRemesasTotal + importeRemesas %}
    {% set importeRemesasTotalCUP = importeRemesasTotalCUP + importeRemesasCUP %}
    {% set importeRemesasTotalUSD = importeRemesasTotalUSD + importeRemesasUSD %}
    {% set importeRemesasTotalEUR = importeRemesasTotalEUR + importeRemesasEUR %}
    <table>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
{% endfor %}

<table cellpadding="3px" width="785px" style="border: 1px solid black">
    <tr>
        <td width="230px" align="left" style="font-size: 10px"><strong>TOTALES: </strong>{{ totalRemesasTotal }} remesa(s)</td>
        <td width="65px" align="left" style="font-size: 10px"><strong>TOTAL:</strong></td>
        <td width="190px" align="center" style="font-size: 10px">{{ importeRemesasTotalCUP | number_format(2) }} CUP</td>
        <td width="100px" align="right" style="font-size: 10px">{{ importeRemesasTotalUSD | number_format(2) }} USD</td>
        <td width="100px" align="right" style="font-size: 10px">{{ importeRemesasTotalEUR | number_format(2) }} EUR</td>
    </tr>
</table>


