{% extends 'base_backend.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/stflagiconcss/css/flag-icon.min.css') }}"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}
{% block breadcrumb %}
    <div class="col-lg-12">
        <h2>Reportes</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>{{ 'backend.reportes.distribuidor_remesas.title'|trans({}) }}</strong>
            </li>
        </ol>
    </div>
{% endblock %}
{% block body %}
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form,{'attr':{
                        'id':form.vars.id
                    }}) }}

                    {{ form_widget(form._token) }}
                    {% if form_errors(form) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                &times;
                            </button>
                            <span class="fa fa-exclamation"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ form_errors(form) | striptags }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 required">
                                <div class="form-group">
                                    <label class="font-noraml"><strong>{{ 'backend.reportes.distribuidor_remesas.fields.fechas'|trans }}</strong>:</label>
                                    <div class="input-daterange input-group">
                                        {{ form_widget(form.fechaInicio,{
                                            'attr':{
                                                'class':'form-control'
                                            }
                                        }) }}
                                        <span class="input-group-addon"> - </span>
                                        {{ form_widget(form.fechaFin,{
                                            'attr':{
                                                'class':'form-control'
                                            }
                                        }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 required">
                                <div class="form-group">
                                    <label class="font-noralm">{{ form_label(form.zonas)|striptags }}:</label>
                                    <div class="col-xs-12 input-group">
                                        {{ form_widget(form.zonas,{'attr':{'class':'form-control', 'data-placeholder': "Seleccione las zonas"}}) }}
                                        {% if form_errors(form.zonas) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.zonas) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 required">
                                <div class="form-group">
                                    <label class="font-noralm">{{ form_label(form.estado)|striptags }}:</label>
                                    <div class="col-xs-12 input-group">
                                        {{ form_widget(form.estado,{'attr':{'class':'form-control', 'data-placeholder': "Seleccione los estados"}}) }}
                                        {% if form_errors(form.estado) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.estado) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary pull-right" type="submit" style="margin-left: 5px;">
                                <i
                                        class="fa fa-file-pdf-o"></i> {{ 'backend.reportes.btn_export'|trans }}
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: 'dd/mm/yyyy',
                todayBtn: true,
                language: 'es',
                endDate: 'today',
                todayHighlight: true
            }).on('keypress paste', function (e) {
                e.preventDefault();
                return false;
            });

            $("#{{ form.vars.id }}").validate({
                rules: {
                    '{{ form.fechaInicio.vars.full_name }}': {
                        required: true
                    },
                    '{{ form.fechaFin.vars.full_name }}': {
                        required: true
                    }
                }
            });

            dataLink()
        })
    </script>
{% endblock %}
