{% trans_default_domain 'AppBundle' %}

{% import "backend/macros/form_collection_remesa.html.twig" as macro_remesa %}

<p>
    {% if form_errors(form) %}

    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="fa fa-exclamation"
              aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ form_errors(form) | striptags }}
    </div>
{% endif %}
</p>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 required">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#mandatory"><label
                                class="label label-danger">DATOS DE LA TRANSFERENCIA</label></a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="mandatory" class="tab-pane active">
                    <fieldset class="form-horizontal">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-4 col-sm-4 col-xs-12 required">
                                    <label class="font-noralm">{{ form_label(form.emisor)|striptags }}</label>
                                    <div class="col-md-12 col-xs-12 input-group">
                                        {{ form_widget(form.emisor,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.emisor) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.emisor) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 required">
                                    <label class="font-noralm">{{ form_label(form.titularTarjeta)|striptags }}
                                        <sup>*</sup></label>
                                    <div class="col-md-12 col-xs-12 input-group">
                                        {{ form_widget(form.titularTarjeta,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.titularTarjeta) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.titularTarjeta) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 required">
                                    <label class="font-noralm">{{ form_label(form.numeroTarjeta)|striptags }}
                                        <sup>*</sup></label>
                                    <div class="col-md-12 col-xs-12 input-group">
                                        {{ form_widget(form.numeroTarjeta,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.numeroTarjeta) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.numeroTarjeta) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 col-sm-4 col-xs-12 required">
                                    <label class="font-noralm">{{ form_label(form.phone)|striptags }}
                                        <sup>*</sup></label>
                                    <div class="col-md-12 col-xs-12 input-group">
                                        {{ form_widget(form.phone,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.phone) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.phone) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-md-12 col-xs-12 required">
                                        <div class="form-group">
                                            <label class="font-noralm">{{ form_label(form.moneda)|striptags }}
                                                <sup>*</sup></label>
                                            <div class="col-md-12 col-xs-12 input-group" style="width: 100%;">
                                                {{ form_widget(form.moneda,{'attr':{'class':'form-control moneda chosen-select col-sm-12'}}) }}
                                                {% if form_errors(form.moneda) %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true">&times;
                                                        </button>
                                                        <span class="fa fa-exclamation"
                                                              aria-hidden="true"></span>
                                                        <span class="sr-only">Error:</span>
                                                        {{ form_errors(form.moneda) | striptags }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 required">
                                    <label class="font-noralm">{{ form_label(form.importe)|striptags }}
                                        <sup>*</sup></label>
                                    <div class="col-md-12 col-xs-12 input-group">
                                        {{ form_widget(form.importe,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.importe) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.importe) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if app.user.auth %}
                                    <div class="col-md-4 col-sm-4 col-xs-12 required">
                                        <label class="font-noralm">{{ form_label(form.totalCobrar)|striptags }}
                                            <sup>*</sup></label>
                                        <div class="col-md-12 col-xs-12 input-group">
                                            {{ form_widget(form.totalCobrar,{'attr':{'class':'form-control'}}) }}
                                            {% if form_errors(form.totalCobrar) %}
                                                <div class="alert alert-danger" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <span class="fa fa-exclamation"
                                                          aria-hidden="true"></span>
                                                    <span class="sr-only">Error:</span>
                                                    {{ form_errors(form.totalCobrar) | striptags }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 required">
        <div class="hr-line-dashed"></div>
        {% if app.user and is_granted("ROLE_SUPER_ADMIN") %}
            <div class="col-md-4 col-sm-12 col-xs-12 required">
                <div class="form-group">
                    <label class="font-noralm"><b>{{ form_label(form.estado)|striptags }}<sup>*</sup></b></label>
                    <div class="col-md-12 col-xs-12 input-group">
                        {{ form_widget(form.estado,{'attr':{'class':'form-control'}}) }}
                        {% if form_errors(form.estado) %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;
                                </button>
                                <span class="fa fa-exclamation"
                                      aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form_errors(form.estado) | striptags }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 required">
                <div class="form-group">
                    <label class="font-noralm"><b>{{ form_label(form.agencia)|striptags }}</b></label>
                    <div class="col-md-12 col-xs-12 input-group">
                        {{ form_widget(form.agencia,{'attr':{'class':'form-control'}}) }}
                        {% if form_errors(form.agencia) %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;
                                </button>
                                <span class="fa fa-exclamation"
                                      aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form_errors(form.agencia ) | striptags }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 required">
                <div class="form-group">
                    <label class="font-noralm"><b>{{ form_label(form.agente)|striptags }}</b></label>
                    <div class="col-md-12 col-xs-12 input-group">
                        {{ form_widget(form.agente,{'attr':{'class':'form-control'}}) }}
                        {% if form_errors(form.agente) %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;
                                </button>
                                <span class="fa fa-exclamation"
                                      aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form_errors(form.agente) | striptags }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12"
                 id="container-filter">
                <div id='destinatarios' class="table-responsive">

                </div>
            </div>
        {% elseif app.user and is_granted("ROLE_AGENCIA") %}
            <div class="col-md-4 col-sm-12 col-xs-12 required">
                <div class="form-group">
                    <label class="font-noralm"><b>{{ form_label(form.agente)|striptags }}</b></label>
                    <div class="col-md-12 col-xs-12 input-group">
                        {{ form_widget(form.agente,{'attr':{'class':'form-control'}}) }}
                        {% if form_errors(form.agente) %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;
                                </button>
                                <span class="fa fa-exclamation"
                                      aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ form_errors(form.agente) | striptags }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12"
                 id="container-filter">
                <div id='destinatarios' class="table-responsive">

                </div>
            </div>
        {% else %}
            <div class="col-md-12 col-sm-12 col-xs-12"
                 id="container-filter">
                <div id='destinatarios' class="table-responsive">

                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-xs-12 col-xs-12 text-right">
        <div class="hr-line-dashed"></div>
        <a class="btn btn-warning" href="{{ path('tn_transferencia_index') }}"><i
                    class="fa fa-reply"></i> {{ 'backend.comun.form.to_list'|trans }}</a>

        <button class="btn btn-primary pull-right" type="submit" style="margin-left: 5px;"><i
                    class="fa fa-save"></i> {{ 'backend.comun.table.save'|trans }}</button>

    </div>
</div>
</form>
