{% trans_default_domain 'AppBundle' %}
{{ form_start(form,{
    'attr':{
        'id': form.vars.id,
        'novalidate':'novalidate'
    }}) }}

    {{ form_widget(form._token) }}

<p>
    {% if form_errors(form) %}

    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="fa fa-exclamation"
              aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ form_errors(form) | striptags }}
    </div>
{% endif %}
</p>

<div class="row">
    <div class="row col-sm-offset-1 col-sm-10">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#mandatory"><label class="label label-danger">DATOS DESTINATARIO</label></a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="mandatory" class="tab-pane active">
                    <fieldset class="form-horizontal">
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right required">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-lg-3 control-label text-right">{{ form_label(form.nombre)|striptags }}
                                        <sup>*</sup></label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.nombre) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.nombre) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-lg-3 control-label text-right">{{ form_label(form.apellidos)|striptags }}
                                        <sup>*</sup></label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.apellidos,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.apellidos) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.apellidos) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right required">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-lg-3 control-label text-right">{{ form_label(form.phone)|striptags }}
                                        <sup>*</sup></label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.phone,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.phone) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.phone) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-lg-3 control-label text-right">{{ form_label(form.enabled)|striptags }}</label>

                                    <div class="col-lg-9">
                                        {% if form.vars.data.id == null %}
                                            {{ form_widget(form.enabled,{'attr':{'class':'form-control js-switch', 'checked':'checked'}}) }}
                                        {% else %}
                                            {{ form_widget(form.enabled,{'attr':{'class':'form-control js-switch'}}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right required">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-lg-3 control-label text-right">{{ form_label(form.direccion)|striptags }}
                                        <sup>*</sup></label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.direccion,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.direccion) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.direccion) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label class="col-lg-3 control-label text-right">{{ form_label(form.ci)|striptags }}</label>

                                    <div class="col-lg-9">
                                        {{ form_widget(form.ci,{'attr':{'class':'form-control'}}) }}
                                        {% if form_errors(form.ci) %}
                                            <div class="alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <span class="fa fa-exclamation"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                {{ form_errors(form.ci) | striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-offset-1 col-sm-10 col-xs-12 text-right">
        <div class="hr-line-dashed"></div>
        <a class="btn btn-warning" href="{{ path('tn_lista_negra_index') }}"><i
                    class="fa fa-reply"></i> {{ 'backend.comun.form.to_list'|trans }}</a>

        <button class="btn btn-primary pull-right" type="submit" style="margin-left: 5px;"><i
                    class="fa fa-save"></i> {{ 'backend.comun.table.save'|trans }}</button>

    </div>
</div>
</form>
